/* generall css */
h1 {
    text-align: center;
    padding: 50px;
    font-size: 45pt;
    font-family: arial;
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 20pt;
    font-family: arial;
}

h3 {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 25pt;
    font-family: arial;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* index.scal.css */

.box_1 {
    margin: auto;
    width: 20%;
    min-width: 320px;
    max-width: 400px;
    border: 3px solid grey;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding: 20px;
}

.box_1_line {
    padding: 20px;
}

.box_1_label {
    float: left;
    min-width: 40%;
    font-family: Arial;
    font-size: 14pt;
}

.box_1_input {
    float: right;
    min-width: 40%;
    max-width: 140px;
    text-align: center;
    font-family: Arial;
    font-size: 14pt;
}

.box_1_button {
    align-self: center;
    padding: 10px;
    background: rgb(167, 167, 167);
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14pt;
}

.box_1_button:hover {
    border-radius: 5px;
    background: lightblue;
}

.box_1_button:active {
    border-radius: 5px;
    background: rgb(101, 201, 235)
}

#box_1_button_line {
    text-align: center;
}

#text_about {
    text-align: center;
    padding-top: 15px;
    font-family: Arial;
    font-size: 14pt;
}

#link_about {
    text-align: center;
    padding: 15px;
    font-family: Arial;
    font-size: 14pt;
}

/* main.scala.css */

#global_background {
    background-color: lightgrey;
}

/* about.scala.css */

#about_dog_picture {
    padding-left: 10%;
    padding-right: 10%;
}

.about_text {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}

.about_text_p {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial;
}

#about_link {
    align-self: center;
    width: auto;
    padding: 10px;
    background: rgb(167, 167, 167);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 40px;
}

#about_link:hover {
    border-radius: 5px;
    background: lightblue;
}

#about_link:active {
    border-radius: 5px;
    background: rgb(101, 201, 235)
}

.about_list_1 {
    padding-left: 40px;
    padding-right: 20px;
    font-family: Arial;
}

.about_list_2 {
    padding-left: 40px;
    padding-right: 20px;
    font-family: Arial;
    list-style: decimal;
}

/* initGame.scala.css */


.button_type_2 {
    float: left;
    width: 23%;
    margin-left: 5%;
    margin-right: 5%;
}

.button_type_3 {
    float: left;
    width: 23%;
    margin-left: 5%;
    margin-right: 5%;
}

.box_2 {
    margin-left: 10%;
    margin-right: 10%;
    min-width: 80%;
    min-width: 320px;
    min-height: 22px;
    border: 3px solid grey;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding: 20px;
}

.board {
    background-color: rgb(236, 236, 236);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 3px solid grey;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding: 20px;
}

#player1 {
    color: red;
}

.unstyledTable {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(168, 168, 168);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
}

.unstyledTable ,th , td{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
}

.cards {
    margin: 2%;
    padding: 2%;
    width: 96;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.playCard {
    background-color: antiquewhite;
    border: 2px solid #555;
    margin: 0.1%;
    padding: 0.1%;

}

.card ,input ,button{
    align-self: center;
    padding: 10px;
    margin: 1%;
    width: 100px;
}

.card_option {

}