@(controller: dog.controller.ControllerComponent.ControllerTrait)

@main("Dog") {
    <center>
    <h1>Welcome to Dog </h1>
        <form action=/>
        <button>New Game</button>
        </form>
    
    <h2>Player List with Houses</h2>
    <table class="unstyledTable">
        <thead>
        <tr>
        <th>PlayerName</th>
        <th>inHouse</th>
        </tr>
        </thead>
        <tbody>
            @for(i <- 0 until controller.gameState.players._1.indices.size) {
                <tr>
                    <td>@controller.gameState.players._1(i).nameAndIdx._1</td>
                    <td>@controller.gameState.players._1(i).inHouse.size</td>
                </tr>
            }
        </tbody>
        </table>
        
    <h2>CurrentPlayer: @controller.gameState.actualPlayer.nameAndIdx._1</h2>
    <table class="unstyledTable">
        <thead>
        <tr>
            @for(i <- 0 until controller.gameState.board.size) {
                <th>_</th>
            }
        </tr>
        </thead>
        <tbody>
            @for(i <- 0 until controller.gameState.board.size) {
                <td>@controller.gameState.board.cell(i).toString</td>
            }
        </tbody>
        </table>
    </center>
}
